@font-face {
    font-family: "Inter";
    src: url("/public/fonts/Inter.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Code";
    src: url("/public/fonts/GoogleSansCode.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #0f1115;
    overflow: hidden;
    font-family: "Inter", system-ui, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Firefox */
.uml-inspector {
    scrollbar-width: thin;
    scrollbar-color: rgba(230, 238, 252, 0.28) rgba(11, 15, 25, 0.6);
}

/* Chromium / Edge / Safari */
.uml-inspector::-webkit-scrollbar {
    width: 10px;
}

.uml-inspector::-webkit-scrollbar-track {
    background: rgba(11, 15, 25, 0.6);
    border-radius: 999px;
}

.uml-inspector::-webkit-scrollbar-thumb {
    background: rgba(232, 238, 252, 0.22);
    border-radius: 999px;
    border: 2px solid rgba(11, 15, 25, 0.6); /* donne un “gap” propre */
}

.uml-inspector::-webkit-scrollbar-thumb:hover {
    background: rgba(232, 238, 252, 0.32);
}

.uml-inspector::-webkit-scrollbar-corner {
    background: transparent;
}
